div{
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    
    a{
        flex: 1;
        font-size: 40px;
        text-align: center;
        padding: 5px;
        border-top: 2px solid #999;
        color: black;
    }
}

div a.activo{
    background: linear-gradient(to right,   var(--first_color), var(--second-color));
}